.content:hover .footer {
    display: flex;
    justify-content: space-between;
    padding: 10%;

}

.footer {
    display: none;
    width: 100%;

}

.card {
    -webkit-box-shadow: 9px 14px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 14px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 14px 50px 0px rgba(0, 0, 0, 0.75);

}

span 
{
    color: red;
}